* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

main {
    width: 300px;
    height: auto    ;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.image {
    max-width: 100%;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    margin-top: 50px;
}